<!-- SITE-FOOTER -->
<footer class="site-footer">

  <!-- b2brouter -->
  <div class="wrapper p-y-10">
    <div class="columns has-background-blue m-y-0">
      <div class="column flow--32 is-6">
        <div class="logo-footer">
          <svg aria-hidden="true" focusable="false">
            <use xlink:href="#logo"></use>
          </svg>
        </div>
        <p class="subtitle-medium">T'ajudem a crear sense problemes les factures en format Facturae 3.2 i enviar-les a Generalitat de Catalunya a través de eFACT Catalunya. D'aquesta manera t'assegures complir amb els requisits de les normatives nacionals i europees de forma segura i senzilla.</p>
        <p class="subtitle-medium m-top-0">Amb B2Brouter també podràs gestionar altres documents relacionats amb la facturació com ara pressupostos, comandes o albarans.</p>
        <a href="" class="button is-primary">Factura electrònica gratis</a>
      </div>
    </div>
  </div>
  <!-- /b2brouter -->

  <!-- CTA -->
  <div class="has-background-lila has-text-white p-y-12">
    <div class="wrapper">

      <div class="columns">
        <div class="column">
          <div class="title-medium">
            <mark class="blue">Contacta amb nosaltres</mark>
          </div>
          <div class="subtitle-small">Si necessites més informació sobre com et podem ajudar a gestionar la teva facturació electrònica, ja sigui amb clients públics o privats, no dubtis en contactar amb nosaltres. Estarem encantats d'atendre't.</div>
        </div>
        <div class="column p-top-2-touch is-flex is-justify-content-flex-end is-align-items-center">
          <a href="" class="button is-primary">Contacta amb el nostre equip de suport</a>
        </div>
      </div>

    </div>
  </div>
  <!-- /CTA -->

  <!-- COLOPHON -->
  <div class="site-footer-colophon">
    <div class="wrapper">

      <div class="columns">
        <div class="column flow is-8">
          <p>&copy; 2021 Invinet Sistemes. Tots els drets reservats.</p>
          <p>
            <a href="">Avís legal i Política de Privadesa</a>
            -
            <a href="">Termes i condicions del servei</a>
            -
            <a href="">Política de seguretat de la informació</a>
            -
            <a href="">Política de cookies</a>
          </p>
        </div>
        <div class="column is-flex is-justify-content-flex-end p-top-2-touch">
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button aria-haspopup="true" aria-controls="dropdown-lang">
                <svg class="icon icon-language" aria-hidden="true" focusable="false">
                  <use xlink:href="#lang"></use>
                </svg>
                <span>English</span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-lang" role="menu">
              <div class="dropdown-content">
                <a class="is-selected dropdown-item" href="/ca/login">Català</a>
                <a class="dropdown-item" href="">Dansk</a>
                <a class="dropdown-item" href="">Deutsch</a>
                <a class="dropdown-item" href="">English</a>
                <a class="dropdown-item" href="">Español</a>
                <a class="dropdown-item" href="">Français</a>
                <a class="dropdown-item" href="">Italiano</a>
                <a class="dropdown-item" href="">Nederlands</a>
                <a class="dropdown-item" href="">Português</a>
                <a class="dropdown-item" href="">Svenska</a>
                <a class="dropdown-item" href="">Ελληνικά</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /COLOPHON -->

</footer>
<!-- /SITE-FOOTER -->
