<header class="site-header visible" id="capdamunt">

  <!-- SKIP LINK -->
  <a href="#main-nav" class="skip-link">Menú principal</a>
  <a href="#main-content" class="skip-link">Contingut principal</a>
  <!-- /SKIP LINK -->

  <div class="wrapper">
    <a href="/" class="logo" itemprop="url">
      <svg aria-hidden="true" focusable="false" width="197" height="36">
        <use xlink:href="#logo"></use>
      </svg>
    </a>

    <div class="nav-container">

      <ul class="register-menu has-background-blue" data-state="directory">
        <li>
          <a href="" class="button is-secondary">Registra't</a>
        </li>
        <li>
          <a href="" class="button is-primary">Entrar</a>
        </li>
      </ul>
    </div>

  </div>
</header>
